<div class="row">
  <div class="col-md-12 text-right">
    <a
      href="/movies/<%= movie.id %>/edit"
      class="btn btn-success btn-xs"
      role="button"
      >Edit</a
    >
  </div>
</div>
<br />

<h2><%= movie.name %></h2>
<p><%= movie.uid %></p>
<h3>Products</h3>
