<div class="row">
  <div class="col-md-12 text-right">
    <a
      href="/actors/<%= actor.id %>/edit"
      class="btn btn-success btn-xs"
      role="button"
      >Edit</a
    >
  </div>
</div>
<br />

<h2><%= actor.name %></h2>
<p><%= actor.uid %></p>

<h3>Products</h3>
